@font-face {
    font-family: "handy";
    src: url(./blackjack.otf) format("truetype");
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-slide {
  height: 300px;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-btn {
  background-color: rgba(0, 0, 0, 0);
  color: #ddd;
  border: none;
}

.btn-highlighted {
  transition: all 0.2s ease-in-out;
  color: #d12a25 !important;
}
.slider {
  position: relative;
  top: 30px;
}

.app {
  position: fixed;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #222;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
}

.header-title {
  position: relative;
  height: 200px;
  top: 50px;
  display: inline-block;
  padding: 20px 0px 0 0px;
  font-size: 5em;
  font-family: "handy", cursive;
  color: #fff;
  text-shadow: 2px 2px 2px #111111;
}

.info-list {
  position: relative;
  list-style-type: none;
  text-align: center;
  padding: 0;
  z-index: 1;
  top: -300px;
}
.info-list li {
  font-size: 1.2em;
  font-weight: bolder;
  display: inline-block;
  color: #f2b24a;
  padding: 0px 10px;
  -webkit-text-stroke: 1px rgba(0,0,0,0.3);
  text-shadow: 1px 1px 6px rgba(0,0,0,0.8);
}

.header-img {
  position: relative;
  top: -200px;
  z-index: -1;
  height: 200px;
  width: 200px;
}

.content {
  margin-top: 40px;
}

.actions {
  display: flex;
  flex-direction: row;
  float: left;
}

.action {
  text-align: center;
  padding: 20px 20px;
}

.active {
  color: #47daff;
}

.header-link {
  padding-bottom: 3px;
  color: #fff !important;
  text-decoration: none !important;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: all 0.3s ease-in-out;
}
.header-link:hover {
  border-bottom: 3px solid #8ec4ac;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 110vw;
  height: 110vh;

  display: block;
  background: url('https://s24.postimg.org/6gx1636z9/bgjpg.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
