@font-face {
    font-family: "handy";
    src: url(./blackjack.otf) format("truetype");
}

.main {
  display: flex;
  flex-direction: column;
  color: #555555;
  text-align: center;
}

.app {
  position: fixed;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #222;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
}

.header-title {
  position: relative;
  height: 200px;
  top: 50px;
  display: inline-block;
  padding: 20px 0px 0 0px;
  font-size: 5em;
  font-family: "handy", cursive;
  color: #fff;
  text-shadow: 2px 2px 2px #111111;
}

.info-list {
  margin-left: 5%;
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.info-list li {
  display: inline-block;
  color: #666;
  padding: 0px 20px;
  border-right: 1px solid #999;
}

.info-list li:last-child {
  border-right: none;
}

.header-img {
  position: relative;
  top: -200px;
  z-index: -1;
  height: 200px;
  width: 200px;
}

.content {
  margin-top: 40px;
}

.actions {
  display: flex;
  flex-direction: row;
  float: right;
}

.action {
  text-align: center;
  padding: 10px 20px;
}

.active {
  color: #47daff;
}

.header-link {
  text-decoration: none !important;
}
